<h3>Historique des versions</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Version</th>
            <th scope="col">Date</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1.0</th>
            <td>28/11/2019</td>
            <td>Version initiale</td>
        </tr>
        <tr>
            <th scope="row">1.1</th>
            <td>07/12/2019</td>
            <td>
                <ul>
                    <li>Mise en place du suivi de versions.</li>
                    <li>Correction d'un bug d'affichage des noms de range après un load suivi d'un save.</li>
                    <li>Amélioration de l'affichage du quizz.</li>
                    <li>Ajout des totaux dans les tableaux de résultats.</li>
                    <li>Possibilité de faire des quizz sur une selection de ranges seulement.</li>
                    <li>Correction d'un bug sur la sauvegarde des ranges</li>
                    <li>Correction d'un bug sur la gestion des espaces dans le texte des ranges</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th scope="row">1.2</th>
            <td>13/12/2019</td>
            <td>
                <ul>
                    <li>Ajout d'un tooltip sur le tableau des résultats.</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>