<h2>Bienvenue</h2>

<div class="row">
    <div class="col">
        <div class="alert alert-primary" role="alert">
            <p class="font-weight-normal">Cet outil a été concu pour les joueurs de Poker qui ont besoin de travailler
                certaines compétences.</p>
            <p class="font-weight-light">Vous pourrez ici mémoriser vos range au travers de quizz.</p>
        </div>
        <div class="alert alert-primary" role="alert">
            <div class="row">
                <div class="col-md-2">
                    <a href="assets/ranges.jpg">
                        <img src="assets/ranges.jpg" width="150px"></a>
                </div>
                <div class="col-md-10">
                    <p class="font-weight-light">Pour commencer, vous allez enregistrer les différentes Range sur
                        lesquelles
                        vous voulez travailler.
                        Ces ranges seront sauvegardées, et vous les retrouverez à votre prochaine visite.<br>
                        C'est vous qui définissez vos propres ranges. Par exemple : Open UTG, Open CO, 3Bet BB vs SB,
                        Call
                        3bet BTN vs SB, etc...<br>
                        Mettez des noms qui vous parlent car ils seront utilisés ensuite dans les quizz.
                    </p>
                </div>
            </div>
        </div>
        <div class="alert alert-primary" role="alert">
            <div class="row">
                <div class="col-md-2">
                    <a href="assets/quizz.jpg">
                        <img src="assets/quizz.jpg" width="150px"></a>
                </div>
                <div class="col-md-10">
                    <p class="font-weight-light">Vous pourrez ensuite lancer un quizz.<br>
                        L'ordinateur choisira au hasard
                        une
                        range parmi toutes vos ranges, et une main... vous devrez simplement dire si cette main est dans
                        cette range.<br>
                        Par exemple, si vous avez enregistré une range de 3bet BTN vs CO, vous devrez dire si AKo est
                        dans
                        cette range.
                    </p>
                </div>
            </div>
        </div>
        <div class="alert alert-primary" role="alert">
            <div class="row">
                <div class="col-md-2">
                    <a href="assets/resultats.jpg">
                        <img src="assets/resultats.jpg" width="150px"></a>
                </div>
                <div class="col-md-10">
                    <p class="font-weight-light">Pour finir, vous pourrez analyser vos résultats, soit en regardant tout
                        l'historique de vos quizz, soit une partie seulement.<br>
                        Pour chaque Range, vous verrez vos statistiques de bonnes réponses sur un tableau de Range. Vous
                        verrez ainsi les mains sur lesquelles vous faites le plus d'erreurs.
                    </p>
                </div>
            </div>
        </div>
        <div class="alert alert-success" role="alert">
            <p class="font-weight-light">Pour commencer, <a routerLink="/register">créez un compte</a>. Il suffit d'une adresse email et d'un mot de passe.<br>
                L'application est totalement gratuite, n'hésitez donc pas à l'utiliser et à la faire connaitre.<br>
                N'hésitez pas non plus à m'envoyer vos feedbacks, pour me signaler des bugs, me suggérer des améliorations ou simplement me remercier :-).
            </p>
        </div>
    </div>
</div>